<div id="footer-logo">
  <img src="assets/images/logo/Beehive1-06.png" alt="Beehive Logo" />
</div>

<div id="social-media">
  <span>Redes Sociais</span>
  <div id="icons">
    <a target="_blank" href="https://www.facebook.com/bhallstars">
      <button mat-icon-button aria-label="Facebook">
        <mat-icon svgIcon="facebook"></mat-icon>
      </button>
    </a>
    <a target="_blank" href="https://www.instagram.com/bhallstars">
      <button mat-icon-button aria-label="Instagram">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button>
    </a>
    <a target="_blank" href="https://twitter.com/bhallstars_">
      <button mat-icon-button aria-label="Twitter">
        <mat-icon svgIcon="twitter"></mat-icon>
      </button>
    </a>
    <a target="_blank" href="https://www.linkedin.com/company/beehive-all-stars">
      <button mat-icon-button aria-label="LinkedIn">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </button>
    </a>
    <a target="_blank" href="https://www.youtube.com/channel/UCqzx3JC6Nm4pkB8teaXaJyw">
      <button mat-icon-button aria-label="YouTube">
        <mat-icon svgIcon="youtube"></mat-icon>
      </button>
    </a>
  </div>
</div>

<div id="copyright">
  BeeHive All Stars / BH All Stars 2021 &#169; Todos direitos reservados
</div>
