@import "../../theme/colors";

app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: $black;
  color: $white;

  #logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 8px;
    font-size: 30px;
    padding: 5px 8px;
    border-radius: 5px;

    img {
      height: 40px;
      margin-right: 16px;
    }

    &:focus {
      outline: none;
      background: rgba($grey, 0.4);
    }

    &:hover {
      background: rgba($grey, 0.4);
    }

    .mat-ripple-element {
      z-index: -1 !important;
    }

    .mat-ripple {
      z-index: 50;
    }
  }

  #menu {
    margin: 0 8px;
    font-size: 20px;
  }
}
