<div id="logo" routerLink="/home" matRipple [matRippleColor]="rippleColor">
  <img src="assets/images/logo/Beehive1-06.png" alt="Beehive Logo" />
  <span>BH ALL STARS</span>
</div>

<div id="menu">
  <!--
  <button mat-button [matMenuTriggerFor]="cheerleading" [class.active]="isRouteActive('cheerleading')">Esporte | Escolas</button>
  <mat-menu #cheerleading="matMenu">
    <button mat-menu-item routerLink="/cheerleading/sobre">Sobre o Cheerleading</button>
    <button mat-menu-item routerLink="/cheerleading/escola">Escola</button>
    <button mat-menu-item routerLink="/cheerleading/equipe">Equipe</button>
  </mat-menu>
  -->
  <button mat-button routerLink="/sobre" [class.active]="isRouteActive('sobre')">Sobre Nós</button>

  <button mat-button [matMenuTriggerFor]="eventos" [class.active]="isRouteActive('eventos')">Eventos</button>
  <mat-menu #eventos="matMenu" class="submenu">
    <button mat-menu-item routerLink="/eventos/cursos">Cursos | Camps</button>
    <button mat-menu-item routerLink="/eventos/apresentacoes">Apresentações | Showcases</button>
  </mat-menu>


  <button mat-button routerLink="/contato" [class.active]="isRouteActive('contato')">Contato</button>
</div>
