<!-- <app-title>Sobre nós</app-title> -->

<section>
	<h2>Quem Somos</h2>

	<p>
		O BeeHive All Stars é um ginásio de cheerleading e foi fundado no dia 01 de abril de 2021. Pretendemos escrever um novo capítulo na história da modalidade em Minas Gerais e contribuir para colocar o estado em posição de destaque no cheerleading nacional. O nome BeeHive All Stars surgiu não apenas pela referência à um grande nome do cheerleading em minas gerais, mais também pela filosofia que queremos estabelecer no ginásio. Assim como em uma colmeia, almejamos que nosso ginásio se torne uma família para seus integrantes e colaboradores. 
	</p>
	<p>
		Nossa logo é um hexágono assim como um favo de uma colmeia. Essa estrutura geométrica representa a harmonia na natureza e a harmonia faz parte da filosofia que queremos para o ginásio. Queremos um ambiente livre de toxicidade e conflitos, e que o espírito esportivo esteja presente. Além disso, o hexágono tem seis lados e seis ângulos e são exatamente seis os pilares que fundamentam o trabalho no BeeHive All Stars. Esses pilares são: Esporte, Cultura, Família, Disciplina, Harmonia e Responsabilidade.
	</p>
	<p>
		As cores da nossa marca são Amarelo/Dourado e Preto.  A cor amarela é uma das três cores primárias e transmite luz, energia e calor. É símbolo de criatividade e juventude e, além de irradiar alegria, torna os ambientes leves e descontraídos. A cor dourada é associada a prosperidade, a vitórias, e psicologicamente é vista como a cor da sabedoria interior. A cor preta é associada ao mistério, e também expressa qualidades como sobriedade e sofisticação.
	</p>
	<p>
		Assim, a logo, as cores e o nome do nosso ginásio, juntos, representam a filosofia e o espírito do BeeHive All Stars.
	</p>

	<p style="text-align: center;">
		Come to the Cheer Hive! #BeeHive #BeeCheer #BeeDance #BeeFamily
	</p>
</section>

<section>
	<h2>Missão</h2>

	<p style="text-align: center;">
		“Oferecer serviços com qualidade e segurança no segmento de esporte e cultura assegurando satisfação, bem estar e qualidade de vida aos alunos e também atuar no desenvolvimento de capacidades físicas e mentais para a formação de atletas.”
	</p>

	<h2>Visão</h2>

	<p style="text-align: center;">
		“Auxiliar no reconhecimento, valorização e popularização do Cheerleading e estar entre os principais ginásios de cheerleading do Brasil”
	</p>

	<h2>Valores</h2>

	<ul>
		<li>Paixão pelo cliente;</li>
		<li>Apoio à comunidade;</li>
		<li>Valorização e respeito à dignidade e à diversidade do ser humano;</li>
		<li>Integridade e ética em todas as atividades e relacionamentos;</li>
		<li>Crença no valor e na capacidade de desenvolvimento das pessoas;</li>
		<li>Busca contínua e incessante pela excelência;</li>
		<li>Transparência nas informações necessárias às partes interessadas;</li>
		<li>Liderança, inovação e ousadia;</li>
		<li>Realização profissional;</li>
		<li>Responsabilidade socioambiental, com incentivo de ações para o desenvolvimento sustentável.</li>
	</ul>
</section>

<section>
	<h2>Fundadoras</h2>

	<h3>Isabella Menezello (Bee) & Luiza Gobatto</h3>

	<p>
		Isabela Menezello e Luiza Gobatto são duas apaixonadas por esportes, especialmente pelo cheerleading. Elas largaram respectivamente o curso de Medicina da UFMG no 8º período e o curso de Engenharia Ambiental da UFMG no 4º período para cursarem Educação Física na UFMG, realizarem o sonho de seguir a carreira de atleta e, posteriormente, se tornarem treinadoras.
	</p>

	<p>
		Isabela, mais conhecida no meio como Bee, além de praticar diversos esportes coletivos, foi bailarina durante 15 anos. Ela iniciou sua carreira no Cheerleading em 2008 em uma equipe escolar durante seu intercâmbio nos Estados Unidos. Em 2014 ela realizou outro intercâmbio, dessa vez na Austrália, onde fez parte da equipe de cheerleading da Universidade de Sydney e chegou a ser campeã nacional naquele ano. Bee foi a primeira atleta mineira a compor e a competir no Campeonato Mundial de Cheerleading em 2018 representando a seleção brasileira de cheerleading. Após retornar do mundial ela decidiu investir na formação de atletas em Minas Gerais prezando pela qualidade técnica, segurança e progressão adequada dos elementos.
	</p>

	<p>
		Em 2019 ela foi convocada novamente para a seleção brasileira juntamente com  duas de suas atletas, sendo uma delas sua sócia, Luiza Gobatto, que já praticou diversas modalidades ao longo de sua vida, dentre elas, kung fu, jiu-jitsu e calistenia e que teve sua primeira experiência com o cheerleading em 2016 através de uma equipe universitária na qual Isabela era treinadora. Após competirem o mundial de 2019, as duas trabalharam juntas para colocar Minas Gerais em destaque no cenário do cheerleading nacional.
	</p>

	<p>
		Ainda em 2019 foram convocadas novamente para compor a seleção brasileira e competir o Campeonato Pan-Americano de Cheerleading , juntamente com 3 atletas e 1 ex-atleta de Isabela. Em 2020, Isabela e Luiza optaram por não participarem da seleção brasileira para investirem no ginásio BEEHIVE ALL STARS  e em sua formação profissional como, mas, auxiliaram os treinos de 6 de seus atletas e todos foram aprovados para compor a seleção brasileira.
	</p>

	<p>
		Ao todo foram 12 atletas de Belo Horizonte que já compuseram a seleção brasileira de cheerleading desde 2018 e 11 deles foram atletas de Isabela e/ou de Luiza. 
	</p>

	<div id="gallery">
		<img *ngFor="let index of photoArray()" [src]="photoSrc(index)">
	</div>
</section>

<section style="text-align: center;">
	<h2>Isabela Menezello (Bee)</h2>
	<img class="tb" src="assets/images/about/isabela-menezelo-tb2019.jpg" />

	<h4>EXPERIÊNCIA/TÍTULOS COMO ATLETA</h4>
	<div class="date-list">
		<p>
			<b>[2008, 2009]</b> – Verona High School – (Verona, NJ, EUA)
		</p>

		<p>
			<b>[2014]</b> – Sydney University Cheer (Sydney, AUS) – Campeã Estadual e Nacional
		</p>

		<p>
			<b>[2017, 2018]</b> – Panthers All Stars – Campeã Mineira e Nacional
		</p>

		<p>
			<b>[2018, 2019]</b> – UFMG Cheerleading – Campeã Mineira e Nacional
		</p>

		<p>
			<b><i>[2018]</i></b> – Seleção Brasileira Feminina – 9º Lugar Mundial de Cheerleading
		</p>

		<p>
			<b><i>[2019]</i></b> – Seleção Brasileira Feminina – 10º Lugar Mundial de Cheerleading
		</p>

		<p>
			<b><i>[2019]</i></b> – Seleção Brasileira Mista – 3º Lugar Pan-Americano de Cheerleading
		</p>

		<p>
			<b><i>[2019]</i></b> – Seleção Brasileira Mista – 2º Lugar Copa América de Cheerleading
		</p>
	</div>

	<h4>EXPERIÊNCIA/TÍTULOS COMO TREINADORA</h4>
	<div class="date-list">
		<p>
			<b>[2016]</b> – Minas Locomotiva
		</p>

		<p>
			<b>[2016]</b> – Dragons UFMG
		</p>

		<p>
			<b>[2018]</b> – Panthers All Stars – Campeã Nacional – All Girl N2
		</p>

		<p>
			<b>[2019]</b> – Panthers All Stars – Campeã Mineira e Nacional – Coed N2
		</p>

		<p>
			<b>[2018]</b> – UFMG Cheerleading – Campeã Mineira e Nacional – Coed N2
		</p>

		<p>
			<b>[2019]</b> – UFMG Cheerleading – Campeã Mineira – All Girl N2
		</p>

		<p>
			<b>[2019]</b> – UFMG Cheerleading – Vice-Campeã Mineira – Coed N2
		</p>

		<p>
			<b>[2019]</b> – UFMG Cheerleading – Vice-Campeã Mineira – Coed N3
		</p>

		<p>
			<b>[2019]</b> – UFMG Cheerleading – Campeã Nacional – Coed N3
		</p>

		<p>
			<b>[2019]</b> – UFMG Cheerleading – 3º Lugar Nacional – Coed N2
		</p>

		<p>
			<b>[2019]</b> – UFMG Cheerleading – 3º Lugar Nacional – All Girl N2
		</p>

		<p>
			<b>[2019]</b> – Suicide Squad UFOP-JM – Campeã Jumpira – Coed N2
		</p>

		<p>
			<b>[2019]</b> – Olympus Cheer UFMG – Campeã CAV – Coed N2
		</p>

		<p>
			<b>[2019]</b> – Mamucheers UFJF-GV – Vice-Campeã CAV –Coed N2
		</p>

		<p>
			<b>[2019]</b> – Olympus Cheer UFMG – Campeã Economíadas – Coed N2
		</p>

		<p>
			<b>[2019]</b> – Grifo Cheer UFMG – Vice-Campeã LIU – Coed N2
		</p>

		<p>
			<b>[2019]</b> – Lex Cheer UFMG – Vice-Campeã Jogos Jurídicos Mineiros – Coed N2
		</p>
	</div>

	<h4>OUTRAS EXPERIÊNCIAS PROFISSIONAIS</h4>
	<div class="date-list">
		<ul>
			<li>
				Certificação em Socorro e Resgate – Cruz Vermelha MG
			</li>

			<li>
				Fundadora e Organizadora do Campeonato Mineiro de Cheer & Dance
			</li>

			<li>
				Organizadora do Cheer Camp com Anthony Ridgway (Treinador da Seleção da Inglesa) e Andres Ignácio
			</li>

			<li>
				Certificação em Combate ao Abuso e Assédio no Esporte – Comitê Olímpico Brasileiro (COB)
			</li>

			<li>
				Certificação em Esporte Antirracista – COB
			</li>

			<li>
				Certificação em Valores Olímpicos – Ginástica Artística – COB
			</li>

			<li>
				Certificação de Coach de Cheerleading – União Brasileira de Cheerleaders (UBC)
			</li>

			<li>
				Certificação em Sistema de Pontuação IASF níveis 1 ao 6 – UBC
			</li>

			<li>
				Certificação como Árbitra Oficial – UBC
			</li>

			<li>
				Certificação em Sistema de Pontuação USASF níveis 1 ao 6 – Golden Cheer Company
			</li>

			<li>
				Certificação em Divisões Internacionais e Non Tumbling – Golden Cheer Company
			</li>

			<li>
				Certificação em Overall – Davi França (Treinador da Seleção Brasileira)
			</li>
		</ul>
	</div>
</section>

<section style="text-align: center;">
	<h2>Luíza Gobatto</h2>
	<img class="tb" src="assets/images/about/luiza-gobatto-tb2019.jpg" />

	<h4>EXPERIÊNCIA/TÍTULOS COMO ATLETA</h4>
	<div class="date-list">
		<p>
			<b>[2016]</b> – Grifo Cheer UFMG
		</p>

		<p>
			<b>[2017, 2018]</b> – Panthers All Stars – Campeã Mineira e Nacional
		</p>

		<p>
			<b>[2018, 2019]</b> – UFMG Cheerleading – Campeã Mineira e Nacional
		</p>

		<p>
			<b><i>[2019]</i></b> – Seleção Brasileira Feminina – 10º Lugar Mundial de Cheerleading
		</p>

		<p>
			<b><i>[2019]</i></b> – Seleção Brasileira Mista – 3º Lugar Pan-Americano de Cheerleading
		</p>

		<p>
			<b><i>[2019]</i></b> – Seleção Brasileira Mista – 2º Lugar Copa América de Cheerleading
		</p>
	</div>

	<h4>EXPERIÊNCIA/TÍTULOS COMO TREINADORA</h4>
	<div class="date-list">
		<p>
			<b>[2019]</b> – Cheer Taurus UFMG
		</p>

		<p>
			<b>[2019]</b> – Squileaders UNIBH – 3º Lugar CopaMed
		</p>

		<p>
			<b>[2019]</b> – Wild Canids UFMG
		</p>

		<p>
			<b>[2019]</b> – Olympus Cheer UFMG
		</p>

		<p>
			<b>[2020]</b> – UFMG Cheer
		</p>
	</div>

	<h4>OUTRAS EXPERIÊNCIAS PROFISSIONAIS</h4>

	<div class="date-list">
		<ul>
			<li>
				Organizadora do Campeonato Mineiro de Cheer & Dance
			</li>

			<li>
				Organizadora do Cheer Camp com Anthony Ridgway (Treinador da Seleção da Inglesa) e Andres Ignácio
			</li>

			<li>
				Certificação em Combate ao Abuso e Assédio no Esporte – Comitê Olímpico Brasileiro (COB)
			</li>

			<li>
				Certificação em Esporte Antirracista – COB
			</li>

			<li>
				Certificação em Valores Olímpicos – Ginástica Artística – COB
			</li>

			<li>
				Certificação em Sistema de Pontuação IASF níveis 1 ao 6 – UBC
			</li>

			<li>
				Certificação como Árbitra Oficial – UBC
			</li>

			<li>
				Certificação em Sistema de Pontuação USASF níveis 1 ao 6 – Golden Cheer Company
			</li>

			<li>
				Certificação em Divisões Internacionais e Non Tumbling – Golden Cheer Company
			</li>
		</ul>
	</div>
</section>